/* body */

body {
  background-image: linear-gradient(to right, #002a75, #b90000);
}

/* baner */

.calosc {
  position: relative;
  text-align: center;
  color: white;
}

#baner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding: 10px;
}


h1 {
  color: white;
  font-family: "Allan", cursive;
  font-size: 10vw;
  text-shadow: black 2px 2px 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* strona główna / ten taki śmieszny kwadracik */

.godlo {
  position: fixed;
  padding: 10px;
  padding-left: 5px;
  max-width: 3%;
  min-width: 20px;
  height: auto;
  z-index: 1;
  transition: transform 0.3s;
}

.godlo:hover {
  transform: scale(1.1, 1.1);
}

.srodek {
  padding-left: 7px;
  padding-right: 7px;
  display: grid;
  position: relative;
  text-align: center;
  color: white;
}

h2 {
  font-family: "Allan", cursive;
  text-shadow: black 2px 2px 5px;
  font-size: 4.5vw;
}

.zdj {
  max-width: 40%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  transition: transform 0.3s;
}

.zdj:hover {
  transform: scale(1.1, 1.1);
}

.tlo {
  border-radius: 25px;
  background-color: #004c8f9a;
  padding-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

/* artykuły */

article {
  height: auto;
  text-align: left;
  font-size: 1.25vmax;
  font-family: sans-serif;
  padding: 20px;
  line-height: 2vw;
  color: inherit;
}

.zdj_lewo {
  padding: 10px;
  max-width: 25%;
  height: auto;
  float: left;
}

.zdj_prawo {
  padding: 10px;
  max-width: 25%;
  height: auto;
  float: right;
}

/* strzaka */

.arrow {
  position: fixed;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  padding-right: 25px;
  z-index: 1;
  transition: transform 0.3s;
}

.arrow:hover {
  transform: scale(1.2, 1.2);
}
